<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Static content - only process actual files -->
                <rule name="StaticContent" stopProcessing="true">
                    <match url="^dist/(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="dist/{R:1}" />
                </rule>
                
                <!-- Direct requests to Node for everything else -->
                <rule name="NodeJS" stopProcessing="true">
                    <match url=".*" />
                    <action type="Rewrite" url="index.js" />
                </rule>
            </rules>
        </rewrite>
        <iisnode nodeProcessCommandLine="node.exe --max-http-header-size=16384" watchedFiles="*.js;*.json;web.config" loggingEnabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>